In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd

from google.colab import files

df = pd.read_csv('/content/bank_loan.csv')

In [ ]:
df.shape

(5000, 14)

In [ ]:
df.describe()

,ID,Age,Experience,Income,ZIP Code,Family,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000
mean,2500.500000,45.338400,20.104600,73.774200,93152.503200,2.396400,1.881000,56.498800,0.096000,0.104400,0.06040,0.596800,0.294000
std,1443.520003,11.463166,11.467954,46.033729,2121.852005,1.147663,0.839869,101.713802,0.294621,0.305809,0.23825,0.490589,0.455637
min,1.000000,23.000000,-3.000000,8.000000,9307.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,1250.750000,35.000000,10.000000,39.000000,91911.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,2500.500000,45.000000,20.000000,64.000000,93437.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000
75%,3750.250000,55.000000,30.000000,98.000000,94608.000000,3.000000,3.000000,101.000000,0.000000,0.000000,0.00000,1.000000,1.000000
max,5000.000000,67.000000,43.000000,224.000000,96651.000000,4.000000,3.000000,635.000000,1.000000,1.000000,1.00000,1.000000,1.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   object
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: int64(13), object(1)
memory usage: 547.0+ KB

In [ ]:
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91108,4,1/60,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1/50,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1/00,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2/70,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1/00,2,0,0,0,0,0,1

In [ ]:
print(df.isnull())

         ID    Age  Experience  Income  ZIP Code  Family  CCAvg  Education  \
0     False  False       False   False     False   False  False      False
1     False  False       False   False     False   False  False      False
2     False  False       False   False     False   False  False      False
3     False  False       False   False     False   False  False      False
4     False  False       False   False     False   False  False      False
...     ...    ...         ...     ...       ...     ...    ...        ...
4995  False  False       False   False     False   False  False      False
4996  False  False       False   False     False   False  False      False
4997  False  False       False   False     False   False  False      False
4998  False  False       False   False     False   False  False      False
4999  False  False       False   False     False   False  False      False

      Mortgage  Personal Loan  Securities Account  CD Account  Online  \
0        False          False               False       False   False
1        False          False               False       False   False
2        False          False               False       False   False
3        False          False               False       False   False
4        False          False               False       False   False
...        ...            ...                 ...         ...     ...
4995     False          False               False       False   False
4996     False          False               False       False   False
4997     False          False               False       False   False
4998     False          False               False       False   False
4999     False          False               False       False   False

      CreditCard
0          False
1          False
2          False
3          False
4          False
...          ...
4995       False
4996       False
4997       False
4998       False
4999       False

[5000 rows x 14 columns]

In [ ]:
df.tail(10)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
4990,4991,55,25,58,95023,4,2/00,3,219,0,0,0,0,1
4991,4992,51,25,92,91330,1,1/90,2,100,0,0,0,0,1
4992,4993,30,5,13,90037,4,0/50,3,0,0,0,0,0,0
4993,4994,45,21,218,91801,2,6/67,1,0,0,0,0,1,0
4994,4995,64,40,75,94588,3,2/00,3,0,0,0,0,1,0
4995,4996,29,3,40,92697,1,1/90,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,0/40,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,0/30,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,0/50,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,0/80,1,0,0,0,0,1,1

In [ ]:
df.dtypes

ID                     int64
Age                    int64
Experience             int64
Income                 int64
ZIP Code               int64
Family                 int64
CCAvg                 object
Education              int64
Mortgage               int64
Personal Loan          int64
Securities Account     int64
CD Account             int64
Online                 int64
CreditCard             int64
dtype: object

In [ ]:
df = df.drop_duplicates()

In [ ]:

df["CCAvg"] = pd.to_numeric(df["CCAvg"], errors="coerce")


df["CCAvg"].fillna(df["CCAvg"].mean(), inplace=True)


df = df.drop(columns=["ID", "ZIP Code"], errors="ignore")

/tmp/ipython-input-4179029441.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["CCAvg"].fillna(df["CCAvg"].mean(), inplace=True)

In [ ]:

df = pd.get_dummies(df, columns=["Education"], prefix="Edu", drop_first=True)

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
numeric_cols = ["Age", "Experience", "Income", "CCAvg", "Mortgage"]

df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

/usr/local/lib/python3.12/dist-packages/sklearn/utils/extmath.py:1101: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
/usr/local/lib/python3.12/dist-packages/sklearn/utils/extmath.py:1106: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
/usr/local/lib/python3.12/dist-packages/sklearn/utils/extmath.py:1126: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count

In [ ]:
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 5000 non-null   float64
 1   Experience          5000 non-null   float64
 2   Income              5000 non-null   float64
 3   Family              5000 non-null   int64
 4   CCAvg               0 non-null      float64
 5   Mortgage            5000 non-null   float64
 6   Personal Loan       5000 non-null   int64
 7   Securities Account  5000 non-null   int64
 8   CD Account          5000 non-null   int64
 9   Online              5000 non-null   int64
 10  CreditCard          5000 non-null   int64
 11  Edu_2               5000 non-null   bool
 12  Edu_3               5000 non-null   bool
dtypes: bool(2), float64(5), int64(6)
memory usage: 439.6 KB
None
        Age  Experience    Income  Family  CCAvg  Mortgage  Personal Loan  \
0 -1.774417   -1.666078 -0.538229       4    NaN -0.555524              0
1 -0.029524   -0.096330 -0.864109       3    NaN -0.555524              0
2 -0.552992   -0.445163 -1.363793       1    NaN -0.555524              0
3 -0.901970   -0.968413  0.569765       1    NaN -0.555524              0
4 -0.901970   -1.055621 -0.625130       4    NaN -0.555524              0

   Securities Account  CD Account  Online  CreditCard  Edu_2  Edu_3
0                   1           0       0           0  False  False
1                   1           0       0           0  False  False
2                   0           0       0           0  False  False
3                   0           0       0           0   True  False
4                   0           0       0           1   True  False

In [ ]:
df.to_csv("bank_loan_clean_ml.csv", index=False)
print("Data cleaned. New shape:", df.shape)

Data cleaned. New shape: (5000, 13)